adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		},
		"ls_sql_onprem_petrolake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_onprem_petrolake'",
			"defaultValue": "integrated security=True;Data Source=TIPPU\\SQLEXPRESS01;Initial Catalog=petrolake_db_dev"
		},
		"ls_sql_onprem_petrolake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_onprem_petrolake'"
		},
		"ls_sql_onprem_petrolake_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tippu\\adfdb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_v2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_cloudv2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceServiceCloudV2Object",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Account"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_servicenow_incedentManagement_fullload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_restapi_serviceNow_Adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeurl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeurl",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_servicenow_incident')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_servicenow_incedents",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ServiceNowV2Object",
				"schema": [
					{
						"name": "sys_updated_on",
						"type": "glide_date_time"
					},
					{
						"name": "entitlement",
						"type": "reference"
					},
					{
						"name": "sys_created_on",
						"type": "glide_date_time"
					},
					{
						"name": "sys_id",
						"type": "GUID"
					},
					{
						"name": "sys_updated_by",
						"type": "string"
					},
					{
						"name": "instance",
						"type": "reference"
					},
					{
						"name": "sys_created_by",
						"type": "string"
					},
					{
						"name": "sys_mod_count",
						"type": "integer"
					}
				],
				"typeProperties": {
					"tableName": "ais_child_table",
					"valueType": "actual"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_target_Adls_incidentManagement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tgt_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "servicenow",
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_adls_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Year": {
						"type": "string"
					},
					"PageNumber": {
						"type": "int"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "worldbankenergy/raw_json/year=@{dataset().Year}/",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_controldata_energy_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_petrolake_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "WorldBankIncrementalLoadControl"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_src_restapi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_worldbank_src_restapi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PageNumber": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "?format=json&page=@{dataset().PageNumber}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_onprem_petrolake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_onprem_petrolake_connectionString')]",
					"userName": "[parameters('ls_sql_onprem_petrolake_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_onprem_petrolake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosterIRLoacal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflows_clean_process_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "Customer"
						},
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "orders"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "loadoutput"
						}
					],
					"transformations": [
						{
							"name": "AddNewcolumns"
						},
						{
							"name": "RemoveBadRequest"
						},
						{
							"name": "selectNeedColumns"
						}
					],
					"scriptLines": [
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'customers-1000.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> Customer",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'orders_sample.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     multiLineRow: true) ~> orders",
						"Customer derive(fullname = concat(byName('First Name'), ' ',byName('Last Name')),",
						"          subscription_year = year(toDate(byName('Subscription Date'),'yyyy-MM-dd')),",
						"          subscription_month = month(toDate(byName('Subscription Date'), 'yyyy-MM-dd')),",
						"          country_upper = upper(byName('Country'))) ~> AddNewcolumns",
						"AddNewcolumns filter(!isNull(byName('Email')) && !isNull(byName('Customer Id'))) ~> RemoveBadRequest",
						"RemoveBadRequest select(skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectNeedColumns",
						"selectNeedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'ouput',",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable: false,",
						"     insertable: true,",
						"     updateable: false,",
						"     upsertable: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> loadoutput"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SF_ADLS_Incremental_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Each_Item_loop",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ObjectList",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Read_Items",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT LastWatermark\nFROM dbo.SF_Watermark_Control\nWHERE ObjectName = '@{item()}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_incremental_SF_ADLS_Azuresql_Metadata",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "cp_incremental_Salesforce_Adls",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Read_Items",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"query": {
												"value": "@concat(\n'SELECT Id, Name, SystemModstamp FROM ',\nitem(),\n' WHERE SystemModstamp > ',\nformatDateTime(\n    activity('Read_Items').output.value[0].LastWatermark,\n    'yyyy-MM-ddTHH:mm:ssZ'\n)\n)",
												"type": "Expression"
											},
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce_src_incremental",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Adls_tgt_salesforce",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@{item()}",
													"type": "Expression"
												},
												"Filename": {
													"value": "@concat(item(),'_incremental_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetNewMAX",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "cp_incremental_Salesforce_Adls",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"query": {
												"value": "@concat(\n'SELECT MAX(SystemModstamp) NewWatermark FROM ',\nitem()\n)",
												"type": "Expression"
											},
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"dataset": {
											"referenceName": "ds_salceforce_Maxdate",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Update Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "GetNewMAX",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Update_Watermark]",
										"storedProcedureParameters": {
											"NewWatermark": {
												"value": {
													"value": "@activity('GetNewMAX').output.firstRow.NewWatermark",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"ObjectName": {
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azuresql_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ObjectList": {
						"type": "array",
						"defaultValue": [
							"Account_1__c",
							"PricingContracts_Detailed_1__c",
							"Pricing_Contract_1__c",
							"Production_Record_1__c",
							"Shipment_Records_1__c",
							"Tank_Inventory_1__c",
							"Well_Site_1__c"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SF_ADLS_Initial_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Object_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"query": {
									"value": "SELECT QualifiedApiName\nFROM EntityDefinition\nWHERE QualifiedApiName LIKE '%__c'\nAND IsQueryable = true\nAND IsDeprecatedAndHidden = false",
									"type": "Expression"
								},
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"dataset": {
								"referenceName": "ds_lookup_salesforce_getobjects",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_Objects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Required_Objects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_Required_Objects').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_Salesforce_Adls_bulk",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "deleteoldfiles",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce_src_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": {
													"value": "@item().QualifiedApiName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_tgt_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": "@item().QualifiedApiName"
											}
										}
									]
								},
								{
									"name": "deleteoldfiles",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_delete_old_files",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_alds_landingzone",
												"type": "LinkedServiceReference"
											},
											"path": ""
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter_Required_Objects",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Object_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Object_List').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(\n    createArray(\n        'Account_1__c',\n        'Pricing_Contract_1__c',\n        'PricingContracts_Detailed_1__c',\n        'Production_Record_1__c',\n        'Shipment_Records_1__c',\n        'Tank_Inventory_1__c',\n        'Well_Site_1__c'\n    ),\n    item().QualifiedApiName\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_salesforce_adls_account",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_salesforce_v2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_salesforce_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_v2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_AssetManangementTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ChangeAndMaintenanceTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CmdbTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					},
					"continue": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_IncidentManagementTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_UserAndOrganizationTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_WorldBankIncrementalLoad_Energy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastLoadedYear",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastLoadedYear \nFROM dbo.WorldBankIncrementalLoadControl\nWHERE IndicatorCode='EG.USE.PCAP.KG.OE';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_worldbank_controldata_energy_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GetTotalPages",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LookupLastLoadedYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(\n  'https://api.worldbank.org/v2/country/',\n  pipeline().parameters.CountryCode,\n  '/indicator/',\n  pipeline().parameters.IndicatorCode,\n  '?format=json&page=1'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TotalPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetTotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TotalPages",
							"value": {
								"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getpages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, add(json(activity('GetTotalPages').output.Response)[0].pages,1))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyActivityInsideForEach",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_worldbank",
											"type": "DatasetReference",
											"parameters": {
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												},
												"CountryCode": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"IndicatorCode": {
													"value": "@pipeline().parameters.IndicatorCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_adls_worldbankenergy",
											"type": "DatasetReference",
											"parameters": {
												"countryname": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateWorldBankLoadControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "getpages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateWorldBankLoadControl]",
							"storedProcedureParameters": {
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.CountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"IndicatorCode": {
									"value": {
										"value": "@pipeline().parameters.IndicatorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"MaxYearLoaded": {
									"value": "2022",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2022
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-01-28"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "EU"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"variables": {
					"TotalPages": {
						"type": "Integer"
					},
					"MaxYearLoaded": {
						"type": "Integer",
						"defaultValue": 0
					},
					"CurrentPage": {
						"type": "Integer",
						"defaultValue": 1
					},
					"MaxYearPerPage": {
						"type": "Array"
					},
					"MaxYears": {
						"type": "Array"
					},
					"LastLoadedYear": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_controldata_energy_new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_WorldBankIncrementalLoad_Energy_SG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastLoadedYear",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastLoadedYear \nFROM dbo.WorldBankIncrementalLoadControl\nWHERE IndicatorCode='EG.USE.PCAP.KG.OE';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_worldbank_controldata_energy_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GetTotalPages",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LookupLastLoadedYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(\n  'https://api.worldbank.org/v2/country/',\n  pipeline().parameters.CountryCode,\n  '/indicator/',\n  pipeline().parameters.IndicatorCode,\n  '?format=json&page=1'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TotalPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetTotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TotalPages",
							"value": {
								"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getpages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, add(json(activity('GetTotalPages').output.Response)[0].pages,1))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyActivityInsideForEach",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_worldbank",
											"type": "DatasetReference",
											"parameters": {
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												},
												"CountryCode": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"IndicatorCode": {
													"value": "@pipeline().parameters.IndicatorCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_adls_worldbankenergy",
											"type": "DatasetReference",
											"parameters": {
												"countryname": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateWorldBankLoadControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "getpages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateWorldBankLoadControl]",
							"storedProcedureParameters": {
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.CountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"IndicatorCode": {
									"value": {
										"value": "@pipeline().parameters.IndicatorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"MaxYearLoaded": {
									"value": "2022",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2021
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-01-28"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "SG"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"variables": {
					"TotalPages": {
						"type": "Integer"
					},
					"MaxYearLoaded": {
						"type": "Integer",
						"defaultValue": 0
					},
					"CurrentPage": {
						"type": "Integer",
						"defaultValue": 1
					},
					"MaxYearPerPage": {
						"type": "Array"
					},
					"MaxYears": {
						"type": "Array"
					},
					"LastLoadedYear": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_controldata_energy_new')]"
			]
		}
	]
}