adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		},
		"ls_sql_onprem_petrolake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_onprem_petrolake'",
			"defaultValue": "integrated security=True;Data Source=TIPPU\\SQLEXPRESS01;Initial Catalog=petrolake_db_dev"
		},
		"ls_sql_onprem_petrolake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_onprem_petrolake'"
		},
		"ls_sql_onprem_petrolake_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tippu\\adfdb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_dailyload_adls_landingzone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Downstream_Finance_Safety.xlsx",
						"container": "filesystemdata"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_worldbank')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HttpServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PageNumber": {
						"type": "string"
					},
					"CountryCode": {
						"type": "string"
					},
					"IndicatorCode": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat(\n  '/v2/country/',\n  dataset().CountryCode,\n  '/indicator/',\n  dataset().IndicatorCode,\n  '?format=json&page=',\n  dataset().PageNumber\n)",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_worldbank_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HttpServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PageNumber": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "/v2/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=@{dataset().PageNumber}",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_salesforce_getobjects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_cloudv2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceServiceCloudV2Object",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_maxdate_worldbank')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dit": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dit",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_midstream_azuretable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuretable_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "globalmidstreamfs"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_reporting_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Global_Midstreamy/Gold_KPI",
						"fileSystem": "reportingzone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_reportingzone_goldlayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Global_Downstream/final_operational_kpi",
						"fileSystem": "reportingzone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_rest_api_worldbank')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_rest_api_wroldbank",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=1",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "salesforce"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_src_bulkload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_cloudv2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ObjectName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SalesforceServiceCloudV2Object",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().ObjectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_v2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_cloudv2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceServiceCloudV2Object",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Account"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_adls_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Year": {
						"type": "string"
					},
					"PageNumber": {
						"type": "int"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "worldbankenergy/raw_json/year=@{dataset().Year}/",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_controldata_energy_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_petrolake_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "WorldBankIncrementalLoadControl"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_src_restapi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_worldbank_src_restapi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PageNumber": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "?format=json&page=@{dataset().PageNumber}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_onprem_petrolake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_onprem_petrolake_connectionString')]",
					"userName": "[parameters('ls_sql_onprem_petrolake_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_onprem_petrolake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosterIRLoacal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflows_clean_process_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "Customer"
						},
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "orders"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "loadoutput"
						}
					],
					"transformations": [
						{
							"name": "AddNewcolumns"
						},
						{
							"name": "RemoveBadRequest"
						},
						{
							"name": "selectNeedColumns"
						}
					],
					"scriptLines": [
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'customers-1000.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> Customer",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'orders_sample.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     multiLineRow: true) ~> orders",
						"Customer derive(fullname = concat(byName('First Name'), ' ',byName('Last Name')),",
						"          subscription_year = year(toDate(byName('Subscription Date'),'yyyy-MM-dd')),",
						"          subscription_month = month(toDate(byName('Subscription Date'), 'yyyy-MM-dd')),",
						"          country_upper = upper(byName('Country'))) ~> AddNewcolumns",
						"AddNewcolumns filter(!isNull(byName('Email')) && !isNull(byName('Customer Id'))) ~> RemoveBadRequest",
						"RemoveBadRequest select(skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectNeedColumns",
						"selectNeedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'ouput',",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable: false,",
						"     insertable: true,",
						"     updateable: false,",
						"     upsertable: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> loadoutput"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SF_ADLS_Initial_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Object_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"query": {
									"value": "SELECT QualifiedApiName\nFROM EntityDefinition\nWHERE QualifiedApiName LIKE '%__c'\nAND IsQueryable = true\nAND IsDeprecatedAndHidden = false",
									"type": "Expression"
								},
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"dataset": {
								"referenceName": "ds_lookup_salesforce_getobjects",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_Objects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Required_Objects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_Required_Objects').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_Salesforce_Adls_bulk",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce_src_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": {
													"value": "@item().QualifiedApiName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_tgt_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": "@item().QualifiedApiName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Filter_Required_Objects",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Object_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Object_List').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(\n    createArray(\n        'Account_1__c',\n        'Pricing_Contract_1__c',\n        'PricingContracts_Detailed_1__c',\n        'Production_Record_1__c',\n        'Shipment_Records_1__c',\n        'Tank_Inventory_1__c',\n        'Well_Site_1__c'\n    ),\n    item().QualifiedApiName\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lookup_salesforce_getobjects')]",
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_src_bulkload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_salesforce_adls_account",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_salesforce_v2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_salesforce_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_v2')]",
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_WorldBankIncrementalLoad_Energy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastLoadedYear",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastLoadedYear \nFROM dbo.WorldBankIncrementalLoadControl\nWHERE IndicatorCode='EG.USE.PCAP.KG.OE';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_worldbank_controldata_energy_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GetTotalPages",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LookupLastLoadedYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(\n  'https://api.worldbank.org/v2/country/',\n  pipeline().parameters.CountryCode,\n  '/indicator/',\n  pipeline().parameters.IndicatorCode,\n  '?format=json&page=1'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TotalPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetTotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TotalPages",
							"value": {
								"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getpages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, add(json(activity('GetTotalPages').output.Response)[0].pages,1))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyActivityInsideForEach",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_worldbank",
											"type": "DatasetReference",
											"parameters": {
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												},
												"CountryCode": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"IndicatorCode": {
													"value": "@pipeline().parameters.IndicatorCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_adls_worldbankenergy",
											"type": "DatasetReference",
											"parameters": {
												"countryname": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateWorldBankLoadControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "getpages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateWorldBankLoadControl]",
							"storedProcedureParameters": {
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.CountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"IndicatorCode": {
									"value": {
										"value": "@pipeline().parameters.IndicatorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"MaxYearLoaded": {
									"value": "2022",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2022
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-01-28"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "EU"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"variables": {
					"TotalPages": {
						"type": "Integer"
					},
					"MaxYearLoaded": {
						"type": "Integer",
						"defaultValue": 0
					},
					"CurrentPage": {
						"type": "Integer",
						"defaultValue": 1
					},
					"MaxYearPerPage": {
						"type": "Array"
					},
					"MaxYears": {
						"type": "Array"
					},
					"LastLoadedYear": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_controldata_energy_new')]",
				"[concat(variables('factoryId'), '/datasets/ds_http_worldbank')]"
			]
		}
	]
}