adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		},
		"ls_sql_onprem_petrolake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_onprem_petrolake'",
			"defaultValue": "integrated security=True;Data Source=TIPPU\\SQLEXPRESS01;Initial Catalog=petrolake_db_dev"
		},
		"ls_sql_onprem_petrolake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_onprem_petrolake'"
		},
		"ls_sql_onprem_petrolake_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tippu\\adfdb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_v2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_cloudv2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceServiceCloudV2Object",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Account"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_servicenow_incedentManagement_fullload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_restapi_serviceNow_Adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeurl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeurl",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_servicenow_incident')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_servicenow_incedents",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ServiceNowV2Object",
				"schema": [
					{
						"name": "sys_updated_on",
						"type": "glide_date_time"
					},
					{
						"name": "entitlement",
						"type": "reference"
					},
					{
						"name": "sys_created_on",
						"type": "glide_date_time"
					},
					{
						"name": "sys_id",
						"type": "GUID"
					},
					{
						"name": "sys_updated_by",
						"type": "string"
					},
					{
						"name": "instance",
						"type": "reference"
					},
					{
						"name": "sys_created_by",
						"type": "string"
					},
					{
						"name": "sys_mod_count",
						"type": "integer"
					}
				],
				"typeProperties": {
					"tableName": "ais_child_table",
					"valueType": "actual"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_target_Adls_incidentManagement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tgt_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "servicenow",
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_adls_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Year": {
						"type": "string"
					},
					"PageNumber": {
						"type": "int"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "worldbankenergy/raw_json/year=@{dataset().Year}/",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_controldata_energy_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_petrolake_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "WorldBankIncrementalLoadControl"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_worldbank_src_restapi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_worldbank_src_restapi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PageNumber": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "?format=json&page=@{dataset().PageNumber}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_onprem_petrolake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_onprem_petrolake_connectionString')]",
					"userName": "[parameters('ls_sql_onprem_petrolake_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_onprem_petrolake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosterIRLoacal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflows_clean_process_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "Customer"
						},
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "orders"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "ls_alds_landingzone",
								"type": "LinkedServiceReference"
							},
							"name": "loadoutput"
						}
					],
					"transformations": [
						{
							"name": "AddNewcolumns"
						},
						{
							"name": "RemoveBadRequest"
						},
						{
							"name": "selectNeedColumns"
						}
					],
					"scriptLines": [
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'customers-1000.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> Customer",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'input',",
						"     fileName: 'orders_sample.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     multiLineRow: true) ~> orders",
						"Customer derive(fullname = concat(byName('First Name'), ' ',byName('Last Name')),",
						"          subscription_year = year(toDate(byName('Subscription Date'),'yyyy-MM-dd')),",
						"          subscription_month = month(toDate(byName('Subscription Date'), 'yyyy-MM-dd')),",
						"          country_upper = upper(byName('Country'))) ~> AddNewcolumns",
						"AddNewcolumns filter(!isNull(byName('Email')) && !isNull(byName('Customer Id'))) ~> RemoveBadRequest",
						"RemoveBadRequest select(skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectNeedColumns",
						"selectNeedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     fileSystem: 'dataflows',",
						"     folderPath: 'ouput',",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable: false,",
						"     insertable: true,",
						"     updateable: false,",
						"     upsertable: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> loadoutput"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SF_ADLS_Incremental_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Each_Item_loop",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ObjectList",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Read_Items",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT LastWatermark\nFROM dbo.SF_Watermark_Control\nWHERE ObjectName = '@{item()}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_incremental_SF_ADLS_Azuresql_Metadata",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "cp_incremental_Salesforce_Adls",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Read_Items",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"query": {
												"value": "@concat(\n'SELECT Id, Name, SystemModstamp FROM ',\nitem(),\n' WHERE SystemModstamp > ',\nformatDateTime(\n    activity('Read_Items').output.value[0].LastWatermark,\n    'yyyy-MM-ddTHH:mm:ssZ'\n)\n)",
												"type": "Expression"
											},
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce_src_incremental",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Adls_tgt_salesforce",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@{item()}",
													"type": "Expression"
												},
												"Filename": {
													"value": "@concat(item(),'_incremental_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetNewMAX",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "cp_incremental_Salesforce_Adls",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"query": {
												"value": "@concat(\n'SELECT MAX(SystemModstamp) NewWatermark FROM ',\nitem()\n)",
												"type": "Expression"
											},
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"dataset": {
											"referenceName": "ds_salceforce_Maxdate",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Update Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "GetNewMAX",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Update_Watermark]",
										"storedProcedureParameters": {
											"NewWatermark": {
												"value": {
													"value": "@activity('GetNewMAX').output.firstRow.NewWatermark",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"ObjectName": {
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azuresql_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ObjectList": {
						"type": "array",
						"defaultValue": [
							"Account_1__c",
							"PricingContracts_Detailed_1__c",
							"Pricing_Contract_1__c",
							"Production_Record_1__c",
							"Shipment_Records_1__c",
							"Tank_Inventory_1__c",
							"Well_Site_1__c"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SF_ADLS_Initial_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Object_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"query": {
									"value": "SELECT QualifiedApiName\nFROM EntityDefinition\nWHERE QualifiedApiName LIKE '%__c'\nAND IsQueryable = true\nAND IsDeprecatedAndHidden = false",
									"type": "Expression"
								},
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"dataset": {
								"referenceName": "ds_lookup_salesforce_getobjects",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_Objects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Required_Objects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_Required_Objects').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_Salesforce_Adls_bulk",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "deleteoldfiles",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceServiceCloudV2Source",
											"includeDeletedObjects": false,
											"partitionOption": "AutoDetect"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce_src_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": {
													"value": "@item().QualifiedApiName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_tgt_bulkload",
											"type": "DatasetReference",
											"parameters": {
												"ObjectName": "@item().QualifiedApiName"
											}
										}
									]
								},
								{
									"name": "deleteoldfiles",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_delete_old_files",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_alds_landingzone",
												"type": "LinkedServiceReference"
											},
											"path": ""
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter_Required_Objects",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Object_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Object_List').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(\n    createArray(\n        'Account_1__c',\n        'Pricing_Contract_1__c',\n        'PricingContracts_Detailed_1__c',\n        'Production_Record_1__c',\n        'Shipment_Records_1__c',\n        'Tank_Inventory_1__c',\n        'Well_Site_1__c'\n    ),\n    item().QualifiedApiName\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_salesforce_adls_account",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceServiceCloudV2Source",
								"includeDeletedObjects": false,
								"partitionOption": "AutoDetect"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_salesforce_v2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_salesforce_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_v2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_IncidentManagementTables_servicenow_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_IncidentManagementTables_servicenow_adls_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_servicenow_metadata_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "copydata_servicenow_adls_fullload",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_servicenow_incedentManagement_fullload",
											"type": "DatasetReference",
											"parameters": {
												"relativeurl": {
													"value": "@concat(item().tableName,'?sysparm_limit=', string(variables('limit')), '&sysparm_offset=', string(variables('offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json_incedenetmanagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMetadata_Validate_File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copydata_servicenow_adls_fullload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_target_Adls_incidentManagement",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(item().tableName,'_FullLoad_',formatDateTime(utcNow(),'yyyyMMdd'),'.json')",
													"type": "Expression"
												},
												"Folder": {
													"value": "servicenow/@{item().tableName}/",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If_File_Valid",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_Validate_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n   equals(activity('GetMetadata_Validate_File').output.exists,true),\n   greater(activity('GetMetadata_Validate_File').output.size,0)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FileValidationFailed",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "FileValidationFailed",
													"errorCode": "File size is 0 or file not created"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"limit": {
						"type": "Integer",
						"defaultValue": 10000
					},
					"continue": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_servicenow_incedentManagement_fullload')]",
				"[concat(variables('factoryId'), '/datasets/ds_target_Adls_incidentManagement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_WorldBankIncrementalLoad_Energy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastLoadedYear",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastLoadedYear \nFROM dbo.WorldBankIncrementalLoadControl\nWHERE IndicatorCode='EG.USE.PCAP.KG.OE';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_worldbank_controldata_energy_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GetTotalPages",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LookupLastLoadedYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(\n  'https://api.worldbank.org/v2/country/',\n  pipeline().parameters.CountryCode,\n  '/indicator/',\n  pipeline().parameters.IndicatorCode,\n  '?format=json&page=1'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TotalPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetTotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TotalPages",
							"value": {
								"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getpages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, add(json(activity('GetTotalPages').output.Response)[0].pages,1))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyActivityInsideForEach",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_worldbank",
											"type": "DatasetReference",
											"parameters": {
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												},
												"CountryCode": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"IndicatorCode": {
													"value": "@pipeline().parameters.IndicatorCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_adls_worldbankenergy",
											"type": "DatasetReference",
											"parameters": {
												"countryname": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateWorldBankLoadControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "getpages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateWorldBankLoadControl]",
							"storedProcedureParameters": {
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.CountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"IndicatorCode": {
									"value": {
										"value": "@pipeline().parameters.IndicatorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"MaxYearLoaded": {
									"value": "2022",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2022
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-01-28"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "EU"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"variables": {
					"TotalPages": {
						"type": "Integer"
					},
					"MaxYearLoaded": {
						"type": "Integer",
						"defaultValue": 0
					},
					"CurrentPage": {
						"type": "Integer",
						"defaultValue": 1
					},
					"MaxYearPerPage": {
						"type": "Array"
					},
					"MaxYears": {
						"type": "Array"
					},
					"LastLoadedYear": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_controldata_energy_new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_WorldBankIncrementalLoad_Energy_SG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastLoadedYear",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastLoadedYear \nFROM dbo.WorldBankIncrementalLoadControl\nWHERE IndicatorCode='EG.USE.PCAP.KG.OE';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_worldbank_controldata_energy_new",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GetTotalPages",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LookupLastLoadedYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(\n  'https://api.worldbank.org/v2/country/',\n  pipeline().parameters.CountryCode,\n  '/indicator/',\n  pipeline().parameters.IndicatorCode,\n  '?format=json&page=1'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TotalPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetTotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TotalPages",
							"value": {
								"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getpages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TotalPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, add(json(activity('GetTotalPages').output.Response)[0].pages,1))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyActivityInsideForEach",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_worldbank",
											"type": "DatasetReference",
											"parameters": {
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												},
												"CountryCode": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"IndicatorCode": {
													"value": "@pipeline().parameters.IndicatorCode",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_adls_worldbankenergy",
											"type": "DatasetReference",
											"parameters": {
												"countryname": {
													"value": "@pipeline().parameters.CountryCode",
													"type": "Expression"
												},
												"PageNumber": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateWorldBankLoadControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "getpages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateWorldBankLoadControl]",
							"storedProcedureParameters": {
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.CountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"IndicatorCode": {
									"value": {
										"value": "@pipeline().parameters.IndicatorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"MaxYearLoaded": {
									"value": "2022",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2021
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-01-28"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "SG"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"variables": {
					"TotalPages": {
						"type": "Integer"
					},
					"MaxYearLoaded": {
						"type": "Integer",
						"defaultValue": 0
					},
					"CurrentPage": {
						"type": "Integer",
						"defaultValue": 1
					},
					"MaxYearPerPage": {
						"type": "Array"
					},
					"MaxYears": {
						"type": "Array"
					},
					"LastLoadedYear": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_worldbank_controldata_energy_new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every 10 days ",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "cp_Global_Midstream_Logistics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Midstream_Logistics",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_Global_Midstream_Landing_Discovery",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "cp_Global_Midstream_Logistics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Midstream_Logistics_landing_discovery"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_Global_Midstream_Discovery_Reporting",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Landing_Discovery",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Midstream_Logistics_discovery_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzureTableStorage",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reportingzone_AzureTableStorage",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "merge",
														"azureTableDefaultPartitionKeyValue": "'petrolake'",
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_midstream_azuretable",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reportingzone_AzureTableStorage",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reportingzone_AzureTableStorage').Status, 'Failed'),\n    activity('cp_reportingzone_AzureTableStorage').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": true,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															},
															{
																"source": {
																	"name": "total_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_maintenance_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_maintenance_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "int"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_global_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_sql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reporting_SQLserver').Status, 'Failed'),\n    activity('cp_reporting_SQLserver').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Upstream_Operations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every Month once",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CP_Global_Upstream_Operations",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Upstream_Operations",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Drilling_Operations",
							"Equipment_Monitoring",
							"Well_Production"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Upstream_Operations.xlsx"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_finance_Global_Downstream')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Global_Downstream_Finance_Safety",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_dailyload_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": "@string(item())"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')\n",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')\n",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Global_Downstream_Finance_Safety",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Downstream_landing_discovey"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Downstream_discovey_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzuretableStorahe",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reportingzone_AzureTable",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "replace",
														"azureTableDefaultPartitionKeyValue": {
															"value": "@utcNow()",
															"type": "Expression"
														},
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "spend_vs_revenue_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "PartitionKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "incident_cost_impact_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "RowKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int64"
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Int32"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuretable_storage",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reportingzone_AzureTable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "'  '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "LoadSQLServer",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 5
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_Global_Downstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_azuresql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "' '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureSQL",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "getnotofication",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "get_sheets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "application/json",
									"type": "Expression"
								}
							},
							"url": {
								"value": "https://prod-17.northcentralus.logic.azure.com:443/workflows/182127ba0e64438b949ba76c27f89358/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=T_OUwJsCK6YFXV16RbRjmyZ-OFcrpOW5eGB6upnMJFo",
								"type": "Expression"
							},
							"body": {
								"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"triggerName\": \"@{pipeline().TriggerName}\",\n  \"triggerTime\": \"@{pipeline().TriggerTime}\",\n  \"activityName\": \"Copy_Product_Data\",\n  \"status\": \"Failed\",\n  \n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		}
	]
}