adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		},
		"ls_alds_landingzone_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_alds_landingzone'"
		},
		"ls_blob_filesystem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_filesystem'"
		},
		"ls_sql_onprem_petrolake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_onprem_petrolake'",
			"defaultValue": "integrated security=True;Data Source=TIPPU\\SQLEXPRESS01;Initial Catalog=petrolake_db_dev"
		},
		"ls_sql_onprem_petrolake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_onprem_petrolake'"
		},
		"ls_alds_landingzone_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sgdigitalizationdev.dfs.core.windows.net/"
		},
		"ls_sql_onprem_petrolake_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tippu\\adfdb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_alds_landingzone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_alds_landingzone_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_alds_landingzone_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_filesystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_filesystem_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosterIRLoacal')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_landingzone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"MainFolder": {
						"type": "string"
					},
					"SubFolder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().MainFolder,'/',dataset().SubFolder)",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_alds_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Midstream_Logistics.xlsx",
						"container": "filesystemdata"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_dailyload_adls_landingzone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Downstream_Finance_Safety.xlsx",
						"container": "filesystemdata"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_onprem_petrolake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_onprem_petrolake_connectionString')]",
					"userName": "[parameters('ls_sql_onprem_petrolake_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_onprem_petrolake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosterIRLoacal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosterIRLoacal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every 10 days ",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "cp_Global_Midstream_Logistics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Midstream_Logistics",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]",
				"[concat(variables('factoryId'), '/datasets/ds_filesystem_Global_Midstream_Logistics')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_finance_saftey')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Global_Downstream_Finance_Safety",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_dailyload_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": "@string(item())"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')\n",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')\n",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())\n",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]",
				"[concat(variables('factoryId'), '/datasets/ds_filesystem_dailyload_adls_landingzone')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_pipelinelog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Pipeline_Run_Log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		}
	]
}