adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_increment_eia_wti')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_loaded_date\nFROM dbo.api_eia_watermark\nWHERE api_name = 'EIA_WTI'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_api_eia_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set_StartDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartDate",
							"value": {
								"value": "@formatDateTime(activity('Lookup_Watermark').output.firstRow.last_loaded_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_EndDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_StartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndDate",
							"value": {
								"value": "@formatDateTime(addDays(variables('StartDate'),1),'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_eia_wti_adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_EndDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_eia_wti_api",
								"type": "DatasetReference",
								"parameters": {
									"StartDate": {
										"value": "@variables('StartDate')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"api_key": {
										"value": "L1KBoxGRJWG8BQ7nChDKT2kFwHCfVcgnBhzDPos6",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_eia_wti_adls",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "landingzone/eia_wti/year=@{formatDateTime(variables('StartDate'),'yyyy')}/month=@{formatDateTime(variables('StartDate'),'MM')}/day=@{formatDateTime(variables('StartDate'),'dd')}",
										"type": "Expression"
									},
									"filename": {
										"value": "wti_@{variables('StartDate')}.json",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Update_Watermark_SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_eia_wti_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_watermark_eia]",
							"storedProcedureParameters": {
								"EndDate": {
									"value": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartDate": {
						"type": "String"
					},
					"EndDate": {
						"type": "String"
					},
					"WatermarkJson": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_increment_eia_wti_monthly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_loaded_date\nFROM dbo.api_eia_watermark\nWHERE api_name = 'EIA_WTI'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_api_eia_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set_StartDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartDate",
							"value": {
								"value": "@formatDateTime(activity('Lookup_Watermark').output.firstRow.last_loaded_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_EndDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_StartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndDate",
							"value": {
								"value": "@formatDateTime(\n    addDays(\n        startOfMonth(addDays(variables('StartDate'), 32)), \n        -1\n    ), \n    'yyyy-MM-dd'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_eia_wti_adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_EndDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_eia_wti_api",
								"type": "DatasetReference",
								"parameters": {
									"StartDate": {
										"value": "@variables('StartDate')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"api_key": {
										"value": "L1KBoxGRJWG8BQ7nChDKT2kFwHCfVcgnBhzDPos6",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_eia_wti_adls",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "landingzone/eia_wti_mothlydata/year=@{formatDateTime(variables('StartDate'),'yyyy')}/month=@{formatDateTime(variables('StartDate'),'MM')}",
										"type": "Expression"
									},
									"filename": {
										"value": "wti_@{variables('StartDate')}.json",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Update_Watermark_SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_eia_wti_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_watermark_eia]",
							"storedProcedureParameters": {
								"EndDate": {
									"value": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartDate": {
						"type": "String"
					},
					"EndDate": {
						"type": "String"
					},
					"WatermarkJson": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_servicenow_incedent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_servicenow_adlsgen2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ServiceNowV2Source",
								"pageSize": 300
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_servicenow_incident",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_tgt_servicenow_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Reporting_SQL_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Gold_downstream_KPI"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "global_midstream"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_pipelinelog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Pipeline_Run_Log"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Masterdata_combo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FileSystem_Global_Downstream",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_finance_Global_Downstream",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_downstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.filename_downstream",
									"type": "Expression"
								},
								"TargetSystem": {
									"value": "@pipeline().parameters.TargetSystem",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "waitfor60sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "FileSystem_Global_Downstream",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					},
					{
						"name": "Filesystem_Global_Midstream",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "waitfor60sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_filesystem_Global_Midstream_Logistics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_midstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.filename_midstream",
									"type": "Expression"
								},
								"TargetSystem": {
									"value": "@pipeline().parameters.TargetSystem",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Waitfor30sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Filesystem_Global_Midstream",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Filesystem_Global_Upstream",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Waitfor30sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_filesystem_Global_Upstream_Operations",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_upstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.file_name_upstream",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pl_global_downstream_s": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"pl_global_midstream_s": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"pl_global_upstream_s": {
						"type": "array",
						"defaultValue": [
							"Drilling_Operations",
							"Equipment_Monitoring",
							"Well_Production"
						]
					},
					"filename_downstream": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					},
					"filename_midstream": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					},
					"file_name_upstream": {
						"type": "string",
						"defaultValue": "Global_Upstream_Operations.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_masterdata_API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Energy_json_data_incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_WorldBankIncrementalLoad_Energy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"LastLoadedYear": {
									"value": "@pipeline().parameters.LastLoadedYear",
									"type": "Expression"
								},
								"LoadDate": {
									"value": "@pipeline().parameters.LoadDate",
									"type": "Expression"
								},
								"CountryCode": {
									"value": "@pipeline().parameters.CountryCode",
									"type": "Expression"
								},
								"IndicatorCode": {
									"value": "@pipeline().parameters.IndicatorCode",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "NB_Landing_Discovery",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Energy_json_data_incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kgnnet11@gmail.com/API_DATA_Transformations/Worldbank_energy_data/landing_discovey"
						},
						"linkedServiceName": {
							"referenceName": "ls_databriicks_Apl_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "NB_Discovery_Reporting",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "NB_Landing_Discovery",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kgnnet11@gmail.com/API_DATA_Transformations/Worldbank_energy_data/discovery_reporting"
						},
						"linkedServiceName": {
							"referenceName": "ls_databriicks_Apl_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cp_reportingzone_Azuretablestorage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NB_Discovery_Reporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Worldbank/energy_data_reporting",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTableDefaultPartitionKeyValue": "petrolake",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_reporting_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuretable_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "cp_reporting_azuresql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NB_Discovery_Reporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Worldbank/energy_data_reporting",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "year",
											"type": "Int32",
											"physicalType": "INT_32"
										},
										"sink": {
											"name": "year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "source_system",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "source_system",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "indicator_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "indicator_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_value_rounded",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "indicator_value_rounded",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "cumulative_value",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "cumulative_value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "curation_status",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "curation_status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ingestion_date",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ingestion_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "yoy_change",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "yoy_change",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "is_latest",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "is_latest",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_reporting_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					},
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2022
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-02-01"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "IN"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}