adfpetrolakedatamodrendev/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every 10 days ",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "cp_Global_Midstream_Logistics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Midstream_Logistics",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_Global_Midstream_Landing_Discovery",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "cp_Global_Midstream_Logistics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Midstream_Logistics_landing_discovery"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_Global_Midstream_Discovery_Reporting",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Landing_Discovery",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Midstream_Logistics_discovery_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzureTableStorage",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reportingzone_AzureTableStorage",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "merge",
														"azureTableDefaultPartitionKeyValue": "'petrolake'",
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_midstream_azuretable",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reportingzone_AzureTableStorage",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reportingzone_AzureTableStorage').Status, 'Failed'),\n    activity('cp_reportingzone_AzureTableStorage').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": true,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															},
															{
																"source": {
																	"name": "total_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_maintenance_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_maintenance_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "int"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_global_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_sql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reporting_SQLserver').Status, 'Failed'),\n    activity('cp_reporting_SQLserver').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Upstream_Operations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every Month once",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CP_Global_Upstream_Operations",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Upstream_Operations",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Drilling_Operations",
							"Equipment_Monitoring",
							"Well_Production"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Upstream_Operations.xlsx"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_finance_Global_Downstream')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Global_Downstream_Finance_Safety",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_dailyload_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": "@string(item())"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')\n",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')\n",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Global_Downstream_Finance_Safety",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Downstream_landing_discovey"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Downstream_discovey_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzuretableStorahe",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reportingzone_AzureTable",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "replace",
														"azureTableDefaultPartitionKeyValue": {
															"value": "@utcNow()",
															"type": "Expression"
														},
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "spend_vs_revenue_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "PartitionKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "incident_cost_impact_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "RowKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int64"
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Int32"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuretable_storage",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reportingzone_AzureTable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "'  '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "LoadSQLServer",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 5
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_Global_Downstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_azuresql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "' '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureSQL",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "getnotofication",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "get_sheets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "application/json",
									"type": "Expression"
								}
							},
							"url": {
								"value": "https://prod-17.northcentralus.logic.azure.com:443/workflows/182127ba0e64438b949ba76c27f89358/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=T_OUwJsCK6YFXV16RbRjmyZ-OFcrpOW5eGB6upnMJFo",
								"type": "Expression"
							},
							"body": {
								"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"triggerName\": \"@{pipeline().TriggerName}\",\n  \"triggerTime\": \"@{pipeline().TriggerTime}\",\n  \"activityName\": \"Copy_Product_Data\",\n  \"status\": \"Failed\",\n  \n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_increment_eia_wti')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_loaded_date\nFROM dbo.api_eia_watermark\nWHERE api_name = 'EIA_WTI'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_api_eia_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set_StartDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartDate",
							"value": {
								"value": "@formatDateTime(activity('Lookup_Watermark').output.firstRow.last_loaded_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_EndDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_StartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndDate",
							"value": {
								"value": "@formatDateTime(addDays(variables('StartDate'),1),'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_eia_wti_adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_EndDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_eia_wti_api",
								"type": "DatasetReference",
								"parameters": {
									"StartDate": {
										"value": "@variables('StartDate')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"api_key": {
										"value": "L1KBoxGRJWG8BQ7nChDKT2kFwHCfVcgnBhzDPos6",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_eia_wti_adls",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "landingzone/eia_wti/year=@{formatDateTime(variables('StartDate'),'yyyy')}/month=@{formatDateTime(variables('StartDate'),'MM')}/day=@{formatDateTime(variables('StartDate'),'dd')}",
										"type": "Expression"
									},
									"filename": {
										"value": "wti_@{variables('StartDate')}.json",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Update_Watermark_SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_eia_wti_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_watermark_eia]",
							"storedProcedureParameters": {
								"EndDate": {
									"value": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartDate": {
						"type": "String"
					},
					"EndDate": {
						"type": "String"
					},
					"WatermarkJson": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_increment_eia_wti_monthly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_loaded_date\nFROM dbo.api_eia_watermark\nWHERE api_name = 'EIA_WTI'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_api_eia_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set_StartDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartDate",
							"value": {
								"value": "@formatDateTime(activity('Lookup_Watermark').output.firstRow.last_loaded_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_EndDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_StartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndDate",
							"value": {
								"value": "@formatDateTime(\n    addDays(\n        startOfMonth(addDays(variables('StartDate'), 32)), \n        -1\n    ), \n    'yyyy-MM-dd'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_eia_wti_adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_EndDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_eia_wti_api",
								"type": "DatasetReference",
								"parameters": {
									"StartDate": {
										"value": "@variables('StartDate')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"api_key": {
										"value": "L1KBoxGRJWG8BQ7nChDKT2kFwHCfVcgnBhzDPos6",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_eia_wti_adls",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "landingzone/eia_wti_mothlydata/year=@{formatDateTime(variables('StartDate'),'yyyy')}/month=@{formatDateTime(variables('StartDate'),'MM')}",
										"type": "Expression"
									},
									"filename": {
										"value": "wti_@{variables('StartDate')}.json",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Update_Watermark_SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_eia_wti_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_watermark_eia]",
							"storedProcedureParameters": {
								"EndDate": {
									"value": {
										"value": "@variables('EndDate')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_petrolake_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartDate": {
						"type": "String"
					},
					"EndDate": {
						"type": "String"
					},
					"WatermarkJson": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ApISource"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_servicenow_incedent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_servicenow_adlsgen2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ServiceNowV2Source",
								"pageSize": 300
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_servicenow_incident",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_tgt_servicenow_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Reporting_SQL_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Gold_downstream_KPI"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "global_midstream"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_pipelinelog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Pipeline_Run_Log"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Masterdata_combo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FileSystem_Global_Downstream",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_finance_Global_Downstream",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_downstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.filename_downstream",
									"type": "Expression"
								},
								"TargetSystem": {
									"value": "@pipeline().parameters.TargetSystem",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "waitfor60sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "FileSystem_Global_Downstream",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					},
					{
						"name": "Filesystem_Global_Midstream",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "waitfor60sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_filesystem_Global_Midstream_Logistics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_midstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.filename_midstream",
									"type": "Expression"
								},
								"TargetSystem": {
									"value": "@pipeline().parameters.TargetSystem",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Waitfor30sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Filesystem_Global_Midstream",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Filesystem_Global_Upstream",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Waitfor30sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_filesystem_Global_Upstream_Operations",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SheetNames": {
									"value": "@pipeline().parameters.pl_global_upstream_s",
									"type": "Expression"
								},
								"ExcelFileName": {
									"value": "@pipeline().parameters.file_name_upstream",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pl_global_downstream_s": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"pl_global_midstream_s": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"pl_global_upstream_s": {
						"type": "array",
						"defaultValue": [
							"Drilling_Operations",
							"Equipment_Monitoring",
							"Well_Production"
						]
					},
					"filename_downstream": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					},
					"filename_midstream": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					},
					"file_name_upstream": {
						"type": "string",
						"defaultValue": "Global_Upstream_Operations.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_finance_Global_Downstream')]",
				"[concat(variables('factoryId'), '/pipelines/pl_filesystem_Global_Midstream_Logistics')]",
				"[concat(variables('factoryId'), '/pipelines/pl_filesystem_Global_Upstream_Operations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_masterdata_API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Energy_json_data_incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_WorldBankIncrementalLoad_Energy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"LastLoadedYear": {
									"value": "@pipeline().parameters.LastLoadedYear",
									"type": "Expression"
								},
								"LoadDate": {
									"value": "@pipeline().parameters.LoadDate",
									"type": "Expression"
								},
								"CountryCode": {
									"value": "@pipeline().parameters.CountryCode",
									"type": "Expression"
								},
								"IndicatorCode": {
									"value": "@pipeline().parameters.IndicatorCode",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "NB_Landing_Discovery",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Energy_json_data_incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kgnnet11@gmail.com/API_DATA_Transformations/Worldbank_energy_data/landing_discovey"
						},
						"linkedServiceName": {
							"referenceName": "ls_databriicks_Apl_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "NB_Discovery_Reporting",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "NB_Landing_Discovery",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kgnnet11@gmail.com/API_DATA_Transformations/Worldbank_energy_data/discovery_reporting"
						},
						"linkedServiceName": {
							"referenceName": "ls_databriicks_Apl_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cp_reportingzone_Azuretablestorage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NB_Discovery_Reporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Worldbank/energy_data_reporting",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTableDefaultPartitionKeyValue": "petrolake",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_reporting_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuretable_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "cp_reporting_azuresql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NB_Discovery_Reporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "Worldbank/energy_data_reporting",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "year",
											"type": "Int32",
											"physicalType": "INT_32"
										},
										"sink": {
											"name": "year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "source_system",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "source_system",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "indicator_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "indicator_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indicator_value_rounded",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "indicator_value_rounded",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "cumulative_value",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "cumulative_value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "curation_status",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "curation_status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ingestion_date",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ingestion_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "yoy_change",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "yoy_change",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "is_latest",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "is_latest",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_reporting_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_worldbank_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					},
					"LastLoadedYear": {
						"type": "int",
						"defaultValue": 2022
					},
					"LoadDate": {
						"type": "string",
						"defaultValue": "2026-02-01"
					},
					"CountryCode": {
						"type": "string",
						"defaultValue": "IN"
					},
					"IndicatorCode": {
						"type": "string",
						"defaultValue": "EG.USE.PCAP.KG.OE"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}