pipeline/pl_filesystem_Global_Midstream_Logistics.json
{
	"name": "pl_filesystem_Global_Midstream_Logistics",
	"properties": {
		"description": "This Load every 10 days ",
		"activities": [
			{
				"name": "Get_Excel_sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Begin_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.SheetNames",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "cp_Global_Midstream_Logistics",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_filesystem_Global_Midstream_Logistics",
									"type": "DatasetReference",
									"parameters": {
										"sheetname": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_landingzone",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(string(item()), '.csv')",
											"type": "Expression"
										},
										"MainFolder": {
											"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
											"type": "Expression"
										},
										"SubFolder": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "NB_Global_Midstream_Landing_Discovery",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "cp_Global_Midstream_Logistics",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Midstream_Logistics_landing_discovery"
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_petrolake_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "NB_Global_Midstream_Discovery_Reporting",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "NB_Global_Midstream_Landing_Discovery",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Midstream_Logistics_discovery_reporting"
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_petrolake_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LoadAzureTableStorage",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NB_Global_Midstream_Discovery_Reporting",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "cp_reportingzone_AzureTableStorage",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "Global_Midstreamy/Gold_KPI",
														"type": "Expression"
													},
													"wildcardFileName": "*.parquet",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "AzureTableSink",
												"azureTableInsertType": "merge",
												"azureTableDefaultPartitionKeyValue": "'petrolake'",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_reporting_midstream",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_midstream_azuretable",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NB_Global_Midstream_Discovery_Reporting",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "cp_reporting_SQLserver",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "Global_Midstreamy/Gold_KPI",
														"type": "Expression"
													},
													"wildcardFileName": "*.parquet",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": true,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "region",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "region",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "country",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "country",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "product_type",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "product_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "year",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "year",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "month",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "month",
															"type": "Byte",
															"physicalType": "tinyint"
														}
													},
													{
														"source": {
															"name": "total_volume",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_volume",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_cost",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_revenue",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_maintenance_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_maintenance_cost",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "gross_profit",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "gross_profit",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "ytd_volume",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "ytd_volume",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "ytd_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "ytd_revenue",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "ytd_profit",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "ytd_profit",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "year_partition",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "year_partition",
															"type": "Int32",
															"physicalType": "int"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_reporting_midstream",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azuresql_global_midstream",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Begin_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertPipelineRunLog_details]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "''\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId\n",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"StartTime": {
							"value": {
								"value": "@utcNow()\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "sucess",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SheetNames": {
				"type": "array",
				"defaultValue": [
					"Pipeline_Flow",
					"Shipping_Details",
					"Storage_Terminals"
				]
			},
			"ExcelFileName": {
				"type": "string",
				"defaultValue": "Global_Midstream_Logistics.xlsx"
			},
			"TargetSystem": {
				"type": "string",
				"defaultValue": "Both"
			}
		},
		"folder": {
			"name": "Filesystem"
		},
		"annotations": []
	}
}