pipeline/pl_finance_Global_Downstream.json
{
	"name": "pl_finance_Global_Downstream",
	"properties": {
		"activities": [
			{
				"name": "get_sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Begin_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.SheetNames",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "Global_Downstream_Finance_Safety",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_filesystem_dailyload_adls_landingzone",
									"type": "DatasetReference",
									"parameters": {
										"sheetname": "@string(item())"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_landingzone",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(string(item()), '.csv')\n",
											"type": "Expression"
										},
										"MainFolder": {
											"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')\n",
											"type": "Expression"
										},
										"SubFolder": {
											"value": "@string(item())\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Global_Downstream_Finance_Safety",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Downstream_landing_discovey"
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_petrolake_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Downstream_discovey_reporting"
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_petrolake_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LoadAzuretableStorahe",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CP_reportingzone_AzureTable",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "Global_Downstream/final_operational_kpi_parquet",
														"type": "Expression"
													},
													"wildcardFileName": "*.parquet",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "AzureTableSink",
												"azureTableInsertType": "replace",
												"azureTableDefaultPartitionKeyValue": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "spend_vs_revenue_pct",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "PartitionKey",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "incident_cost_impact_pct",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "RowKey",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cost_per_barrel",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cost_per_barrel",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "country",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "country",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cumulative_barrels",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_barrels",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "cumulative_incident_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_incident_cost",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "cumulative_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_revenue",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "cumulative_spend",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_spend",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "gross_profit",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "gross_profit",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "incident_count",
															"type": "Int64",
															"physicalType": "INT_64"
														},
														"sink": {
															"name": "incident_count",
															"type": "Int64"
														}
													},
													{
														"source": {
															"name": "profit_margin",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "profit_margin",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "region",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "region",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "total_barrels",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_barrels",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "total_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_cost",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "total_downtime_hours",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_downtime_hours",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "total_incident_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_incident_cost",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "total_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_revenue",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "total_spend",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_spend",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "month",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "month",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "year",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "year",
															"type": "Int32"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_reportingzone_goldlayer",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azuretable_storage",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "sucess_data",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CP_reportingzone_AzureTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_sucess_failure_logs]",
											"storedProcedureParameters": {
												"ActivityName": {
													"value": {
														"value": "CP_reportingzone_AzureTable",
														"type": "Expression"
													},
													"type": "String"
												},
												"DataReadBytes": {
													"value": {
														"value": "@activity('CP_reportingzone_AzureTable').output.dataRead",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"DataWrittenBytes": {
													"value": {
														"value": "@activity('CP_reportingzone_AzureTable').output.dataWritten",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"EndTime": {
													"value": {
														"value": "@utcNow()\n",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": {
														"value": "'  '",
														"type": "Expression"
													},
													"type": "String"
												},
												"ExecutionStatus": {
													"value": {
														"value": "@activity('CP_reportingzone_AzureTable').Status",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsRead": {
													"value": {
														"value": "@activity('CP_reportingzone_AzureTable').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"RowsWritten": {
													"value": {
														"value": "@activity('CP_reportingzone_AzureTable').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"SinkType": {
													"value": {
														"value": "AzureTable",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceType": {
													"value": {
														"value": "AdlsReportingZone",
														"type": "Expression"
													},
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_onprem_petrolake",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "LoadSQLServer",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CP_reporting_SQLserver",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "Global_Downstream/final_operational_kpi_parquet",
														"type": "Expression"
													},
													"wildcardFileName": "*.parquet",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "region",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "region",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "country",
															"type": "String",
															"physicalType": "UTF8"
														},
														"sink": {
															"name": "country",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "total_barrels",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_barrels",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_revenue",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_cost",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "profit_margin",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "profit_margin",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 5
														}
													},
													{
														"source": {
															"name": "gross_profit",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "gross_profit",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_spend",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_spend",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "incident_count",
															"type": "Int64",
															"physicalType": "INT_64"
														},
														"sink": {
															"name": "incident_count",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "total_incident_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_incident_cost",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "cumulative_barrels",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_barrels",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "cumulative_spend",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_spend",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "cumulative_revenue",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_revenue",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "cost_per_barrel",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cost_per_barrel",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "total_downtime_hours",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "total_downtime_hours",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 10
														}
													},
													{
														"source": {
															"name": "cumulative_incident_cost",
															"type": "Double",
															"physicalType": "DOUBLE"
														},
														"sink": {
															"name": "cumulative_incident_cost",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "year",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "year",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "month",
															"type": "Int32",
															"physicalType": "INT_32"
														},
														"sink": {
															"name": "month",
															"type": "Byte",
															"physicalType": "tinyint"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_reportingzone_goldlayer",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azuresql_Global_Downstream",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "sucess_data_azuresql",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CP_reporting_SQLserver",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_sucess_failure_logs]",
											"storedProcedureParameters": {
												"ActivityName": {
													"value": {
														"value": "CP_reportingzone_AzureTable",
														"type": "Expression"
													},
													"type": "String"
												},
												"DataReadBytes": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').output.dataRead",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"DataWrittenBytes": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').output.datawritten",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"EndTime": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').output.executionDetails[0].start\n",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": {
														"value": "' '",
														"type": "Expression"
													},
													"type": "String"
												},
												"ExecutionStatus": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').Status",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsRead": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"RowsWritten": {
													"value": {
														"value": "@activity('CP_reporting_SQLserver').output.rowsWritten",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"SinkType": {
													"value": {
														"value": "AzureSQL",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceType": {
													"value": {
														"value": "AdlsReportingZone",
														"type": "Expression"
													},
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_onprem_petrolake",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Begin_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertPipelineRunLog_details]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "''\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId\n",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"StartTime": {
							"value": {
								"value": "@utcNow()\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "sucess",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "getnotofication",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "get_sheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"url": {
						"value": "https://prod-17.northcentralus.logic.azure.com:443/workflows/182127ba0e64438b949ba76c27f89358/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=T_OUwJsCK6YFXV16RbRjmyZ-OFcrpOW5eGB6upnMJFo",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"triggerName\": \"@{pipeline().TriggerName}\",\n  \"triggerTime\": \"@{pipeline().TriggerTime}\",\n  \"activityName\": \"Copy_Product_Data\",\n  \"status\": \"Failed\",\n  \n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SheetNames": {
				"type": "array",
				"defaultValue": [
					"Refinery_Production",
					"Financial_Transactions",
					"Safety_Incidents"
				]
			},
			"ExcelFileName": {
				"type": "string",
				"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
			},
			"TargetSystem": {
				"type": "string",
				"defaultValue": "Both"
			}
		},
		"folder": {
			"name": "Filesystem"
		},
		"annotations": []
	}
}