pipeline/pl_incremental_Energy_WB.json
{
	"name": "pl_incremental_Energy_WB",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastProcessedPage, LastRecordDate\nFROM API_Metadata\nWHERE SourceName = '@{pipeline().parameters.SourceName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Lookup_Metadata').output.value), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set_currentPage_F",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentPage",
								"value": {
									"value": "@add(int(activity('Lookup_Metadata').output.value[0].LastProcessedPage), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_Lastrecorded",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_currentPage_F",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRecordDate",
								"value": {
									"value": "@string(activity('Lookup_Metadata').output.value[0].LastRecordDate)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_recordsFetched_f",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_Lastrecorded",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "recordsFetched",
								"value": 0
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set_CurrentPage",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentPage",
								"value": 1
							}
						},
						{
							"name": "Set_LastRecordDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_CurrentPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRecordDate",
								"value": {
									"value": "''",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_recordsFetched",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_LastRecordDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "recordsFetched",
								"value": 0
							}
						},
						{
							"name": "Insert_Initial_Metadata",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set_recordsFetched",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_azuresql_petrolake_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "DELETE FROM API_Metadata\nWHERE SourceName = 'WorldBank_Energy_Use';\n\nINSERT INTO API_Metadata\nVALUES ('WorldBank_Energy_Use', 0, '', GETDATE(), 0);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Call_API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://api.worldbank.org/v2/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=@{variables('currentPage')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_totalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Call_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalPages",
					"value": {
						"value": "@json(activity('Call_API').output.Response)[0].pages",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_totalRecords",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_totalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalRecords",
					"value": {
						"value": "@json(activity('Call_API').output.Response)[0].total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_dataArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_totalRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataArray",
					"value": {
						"value": "@json(activity('Call_API').output.Response)[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_latestYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_datesArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "latestYear",
					"value": 0
				}
			},
			{
				"name": "ForEach_dataArray",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_latestYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('dataArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dataArray",
								"value": {
									"value": "@int(item().date)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_latestYear_update",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "latestYear",
								"value": {
									"value": "@if(greater(length(variables('datesArray')),0), max(variables('datesArray')), 0)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data_Rest_Adls_Worldbank_energy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set_latestYear_update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_WorldBank_API",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat(\n'/v2/country/all/indicator/YOUR_INDICATOR_CODE',\n'?date=',\nitem(),\n':',\nitem(),\n'&per_page=20000&format=json'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_WB",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('population_', string(variables('page')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set_datesArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_dataArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datesArray",
					"value": []
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "\"WorldBank_Energy_Use\""
			}
		},
		"variables": {
			"currentPage": {
				"type": "Integer",
				"defaultValue": 1
			},
			"totalPages": {
				"type": "Integer",
				"defaultValue": 5
			},
			"recordsFetched": {
				"type": "Integer",
				"defaultValue": 0
			},
			"LastRecordDate": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"latestYear": {
				"type": "Integer"
			},
			"RunID": {
				"type": "Integer",
				"defaultValue": 1
			},
			"totalRecords": {
				"type": "Integer"
			},
			"dataArray": {
				"type": "Array"
			},
			"datesArray": {
				"type": "Array"
			},
			"startDate": {
				"type": "String",
				"defaultValue": "2022"
			},
			"endDate": {
				"type": "String",
				"defaultValue": "2026"
			},
			"page": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}