pipeline/pl_increment_eia_wti.json
{
	"name": "pl_increment_eia_wti",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_eia_wti_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set_StartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@activity('Lookup_Watermark').output.firstRow.last_loaded_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_EndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@formatDateTime(addDays(variables('StartDate'),1),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_eia_wti_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_eia_wti_api",
						"type": "DatasetReference",
						"parameters": {
							"StartDate": {
								"value": "@variables('StartDate')",
								"type": "Expression"
							},
							"EndDate": {
								"value": "@variables('EndDate')",
								"type": "Expression"
							},
							"api_key": {
								"value": "L1KBoxGRJWG8BQ7nChDKT2kFwHCfVcgnBhzDPos6",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_eia_wti_adls",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "landingzone/eia_wti/year=@{formatDateTime(variables('StartDate'),'yyyy')}/month=@{formatDateTime(variables('StartDate'),'MM')}/day=@{formatDateTime(variables('StartDate'),'dd')}",
								"type": "Expression"
							},
							"filename": {
								"value": "wti_@{variables('StartDate')}.json",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set_Watermark_Content",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_eia_wti_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WatermarkJson",
					"value": {
						"value": "@concat('{\"last_loaded_date\":\"',variables('EndDate'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update_Watermark_File",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set_Watermark_Content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version ": "2024-01-01"
					},
					"url": "https://sgdigitalizationdev.dfs.core.windows.net/landingzone/metadata/eia_wti_watermark.json?resource=file",
					"body": {
						"value": "@variables('WatermarkJson')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			},
			"WatermarkJson": {
				"type": "String"
			}
		},
		"annotations": []
	}
}