pipeline/pl_increment_eia_wti.json
{
	"name": "pl_increment_eia_wti",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_eia_wti_metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_StartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@activity('Lookup_Watermark').output.firstRow.last_loaded_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_EndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@formatDateTime(addDays(variables('StartDate'),1),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			},
			"WatermarkJson": {
				"type": "String"
			}
		},
		"annotations": []
	}
}