pipeline/pl_incremental_Energy_WB.json
{
	"name": "pl_incremental_Energy_WB",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastProcessedPage, LastRecordDate\nFROM API_Metadata\nWHERE SourceName = '@{pipeline().parameters.SourceName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_CurrentPage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentPage",
					"value": {
						"value": "@add(int(activity('Lookup_Metadata').output.firstRow.LastProcessedPage), 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_LastRecordDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_CurrentPage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastRecordDate",
					"value": {
						"value": "@string(activity('Lookup_Metadata').output.firstRow.LastRecordDate)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "\"WorldBank_Energy_Use\""
			}
		},
		"variables": {
			"currentPage": {
				"type": "Integer",
				"defaultValue": 1
			},
			"totalPages": {
				"type": "Integer",
				"defaultValue": 1
			},
			"recordsFetched": {
				"type": "Integer",
				"defaultValue": 0
			},
			"LastRecordDate": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"latestYear": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"RunID": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}