pipeline/pl_incremental_Energy_WB.json
{
	"name": "pl_incremental_Energy_WB",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastProcessedPage, LastRecordDate\nFROM API_Metadata\nWHERE SourceName = '@{pipeline().parameters.SourceName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Lookup_Metadata').output.value), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set_currentPage_F",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentPage",
								"value": {
									"value": "@add(int(activity('Lookup_Metadata').output.value[0].LastProcessedPage), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_Lastrecorded",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_currentPage_F",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRecordDate",
								"value": {
									"value": "@string(activity('Lookup_Metadata').output.value[0].LastRecordDate)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_recordsFetched_f",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_Lastrecorded",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "recordsFetched",
								"value": 0
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set_CurrentPage",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentPage",
								"value": 1
							}
						},
						{
							"name": "Set_LastRecordDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_CurrentPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRecordDate",
								"value": {
									"value": "''",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_recordsFetched",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_LastRecordDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "recordsFetched",
								"value": 0
							}
						},
						{
							"name": "Insert_Initial_Metadata",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set_recordsFetched",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_azuresql_petrolake_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "IF NOT EXISTS (\n    SELECT 1\n    FROM API_Metadata\n    WHERE SourceName = 'WorldBank_Energy_Use'\n)\nBEGIN\n    INSERT INTO API_Metadata \n    (SourceName, LastProcessedPage, LastRecordDate, LastRunDate, TotalRecords)\n    VALUES ('WorldBank_Energy_Use', 0, '', GETDATE(), 0)\nEND",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Call_API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.worldbank.org/v2/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=@{variables('currentPage')}"
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "\"WorldBank_Energy_Use\""
			}
		},
		"variables": {
			"currentPage": {
				"type": "Integer",
				"defaultValue": 1
			},
			"totalPages": {
				"type": "Integer",
				"defaultValue": 1
			},
			"recordsFetched": {
				"type": "Integer",
				"defaultValue": 0
			},
			"LastRecordDate": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"latestYear": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"RunID": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}