pipeline/PL_SF_ADLS_Incremental_Load.json
{
	"name": "PL_SF_ADLS_Incremental_Load",
	"properties": {
		"activities": [
			{
				"name": "Each_Item_loop",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Read_Items",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT LastWatermark\nFROM dbo.SF_Watermark_Control\nWHERE ObjectName = '@{item()}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_incremental_SF_ADLS_Azuresql_Metadata",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "cp_incremental_Salesforce_Adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Read_Items",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceServiceCloudV2Source",
									"query": {
										"value": "SELECT *\nFROM @{item()}\nWHERE SystemModstamp > '@{activity('Read_Items').output.value[0].LastWatermark}'",
										"type": "Expression"
									},
									"includeDeletedObjects": false,
									"partitionOption": "AutoDetect"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_salesforce_src_incremental",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Adls_tgt_salesforce",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"Filename": {
											"value": "@concat(item(),'_incremental_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetNewMAX",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "cp_incremental_Salesforce_Adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(SystemModstamp) AS NewWatermark\nFROM @{item()}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_incremental_SF_ADLS_Azuresql_Metadata",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Update Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetNewMAX",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Watermark]",
								"storedProcedureParameters": {
									"NewWatermark": {
										"value": {
											"value": "@activity('GetNewMAX').output.value",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ObjectName": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azuresql_petrolake_dev",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ObjectList": {
				"type": "array",
				"defaultValue": [
					"Account_1__c",
					"PricingContracts_Detailed_1__c",
					"Pricing_Contract_1__c",
					"Production_Record_1__c",
					"Shipment_Records_1__c",
					"Tank_Inventory_1__c",
					"Well_Site_1__c"
				]
			}
		},
		"annotations": []
	}
}