pipeline/PL_SF_ADLS_Initial_Load.json
{
	"name": "PL_SF_ADLS_Initial_Load",
	"properties": {
		"activities": [
			{
				"name": "Get_Object_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceServiceCloudV2Source",
						"query": {
							"value": "SELECT QualifiedApiName\nFROM EntityDefinition\nWHERE QualifiedApiName LIKE '%__c'\nAND IsQueryable = true\nAND IsDeprecatedAndHidden = false",
							"type": "Expression"
						},
						"includeDeletedObjects": false,
						"partitionOption": "AutoDetect"
					},
					"dataset": {
						"referenceName": "ds_lookup_salesforce_getobjects",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_Objects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Object_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Object_List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copydata_Salesforce_Adls_bulk",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceServiceCloudV2Source",
									"includeDeletedObjects": false,
									"partitionOption": "AutoDetect"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_salesforce_src_bulkload",
									"type": "DatasetReference",
									"parameters": {
										"ObjectName": {
											"value": "@item().QualifiedApiName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_tgt_bulkload",
									"type": "DatasetReference",
									"parameters": {
										"ObjectName": "@item().QualifiedApiName"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}