pipeline/pl_worldbank_incremental_load.json
{
	"name": "pl_worldbank_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Control",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * \nFROM dbo.API_Control_Table_WBE\nWHERE API_Name = 'WorldBank_Energy'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_api_worldbank_control_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LastLoadedYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoadedYear",
					"value": {
						"value": "@activity('Lookup_Control').output.firstRow.LastLoadedYear",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CurrentPage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastLoadedYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentPage",
					"value": 1
				}
			}
		],
		"variables": {
			"CurrentPage": {
				"type": "Integer"
			},
			"TotalPages": {
				"type": "Integer"
			},
			"LastLoadedYear": {
				"type": "Integer"
			},
			"MaxYearInPage": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Worldbankenergydata"
		},
		"annotations": []
	}
}