pipeline/pl_worldbank_incremental_load.json
{
	"name": "pl_worldbank_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Control",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * \nFROM dbo.API_Control_Table_WBE\nWHERE API_Name = 'WorldBank_Energy'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_api_worldbank_control_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LastLoadedYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoadedYear",
					"value": {
						"value": "@activity('Lookup_Control').output.firstRow.LastLoadedYear",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CurrentPage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastLoadedYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentPage",
					"value": 1
				}
			},
			{
				"name": "Get_Metadata",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CurrentPage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.worldbank.org/v2/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=1"
				}
			},
			{
				"name": "SetTotalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalPages",
					"value": {
						"value": "@int(json(activity('Get_Metadata').output.Response)[0].pages)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UNTILLOOP",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetTotalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('CurrentPage'), variables('TotalPages'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "cp_worldbank_api_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "Collectionreference",
											"value": "$[1]"
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_worldbank_src",
									"type": "DatasetReference",
									"parameters": {
										"PageNumber": {
											"value": "@variables('CurrentPage')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_worldbank_adls_target",
									"type": "DatasetReference",
									"parameters": {
										"Year": {
											"value": "@formatDateTime(utcnow(),'yyyy')",
											"type": "Expression"
										},
										"PageNumber": {
											"value": "@variables('CurrentPage')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat('page_', string(variables('CurrentPage')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "IncrementPage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "cp_worldbank_api_adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IncrementPage",
								"value": {
									"value": "@add(variables('CurrentPage'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"CurrentPage": {
				"type": "Integer"
			},
			"TotalPages": {
				"type": "Integer"
			},
			"LastLoadedYear": {
				"type": "Integer"
			},
			"MaxYearInPage": {
				"type": "Integer"
			},
			"IncrementPage": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Worldbankenergydata"
		},
		"annotations": []
	}
}