pipeline/pl_WorldBankIncrementalLoad_Energy.json
{
	"name": "pl_WorldBankIncrementalLoad_Energy",
	"properties": {
		"activities": [
			{
				"name": "LookupLastLoadedYear",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastLoadedYear\nFROM dbo.WorldBankIncrementalLoadControl\nWHERE CountryCode = 'IN'\n  AND IndicatorCode = 'EG.USE.PCAP.KG.OE';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_worldbank_controldata_energy_new",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetTotalPages",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LookupLastLoadedYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.worldbank.org/v2/country/IN/indicator/EG.USE.PCAP.KG.OE?format=json&page=1"
				}
			},
			{
				"name": "TotalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetTotalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalPages",
					"value": {
						"value": "@json(activity('GetTotalPages').output.Response)[0].pages",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"LastLoadedYear": {
				"type": "int",
				"defaultValue": 2023
			},
			"CurrentPage": {
				"type": "int",
				"defaultValue": 1
			},
			"LoadDate": {
				"type": "string",
				"defaultValue": "'2026-02-21'"
			}
		},
		"variables": {
			"TotalPages": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}