adfpetrolakedatamodrendev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpetrolakedatamodrendev"
		},
		"ls_alds_landingzone_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_alds_landingzone'"
		},
		"ls_azuresql_petrolake_dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azuresql_petrolake_dev'"
		},
		"ls_azuretable_storage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_azuretable_storage'"
		},
		"ls_blob_filesystem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_filesystem'"
		},
		"ls_databricks_petrolake_dev_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_petrolake_dev'"
		},
		"ls_sql_onprem_petrolake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_onprem_petrolake'",
			"defaultValue": "integrated security=True;Data Source=TIPPU\\SQLEXPRESS01;Initial Catalog=petrolake_db_dev"
		},
		"ls_sql_onprem_petrolake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_onprem_petrolake'"
		},
		"ls_alds_landingzone_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sgdigitalizationdev.dfs.core.windows.net/"
		},
		"ls_azuresql_petrolake_dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserverpetrolake.database.windows.net"
		},
		"ls_azuresql_petrolake_dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db_petrolake_dev"
		},
		"ls_azuresql_petrolake_dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"ls_databricks_petrolake_dev_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0214-132145-bvcoilg0"
		},
		"ls_sql_onprem_petrolake_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tippu\\adfdb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every 10 days ",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "cp_Global_Midstream_Logistics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Midstream_Logistics",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_Global_Midstream_Landing_Discovery",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "cp_Global_Midstream_Logistics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Midstream_Logistics_landing_discovery"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_Global_Midstream_Discovery_Reporting",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Landing_Discovery",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Midstream_Logistics_discovery_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzureTableStorage",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reportingzone_AzureTableStorage",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "merge",
														"azureTableDefaultPartitionKeyValue": "'petrolake'",
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_midstream_azuretable",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reportingzone_AzureTableStorage",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reportingzone_AzureTableStorage').Status, 'Failed'),\n    activity('cp_reportingzone_AzureTableStorage').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reportingzone_AzureTableStorage').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_Global_Midstream_Discovery_Reporting",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Midstreamy/Gold_KPI",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": true,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "product_type",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															},
															{
																"source": {
																	"name": "total_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_maintenance_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_maintenance_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_volume",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ytd_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "ytd_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year_partition",
																	"type": "Int32",
																	"physicalType": "int"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reporting_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_global_midstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_sql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "cp_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "cp_reportingzone_AzureTableStorage",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "@if(\n    equals(activity('cp_reporting_SQLserver').Status, 'Failed'),\n    activity('cp_reporting_SQLserver').error.message,\n    ''\n)\n",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('cp_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Pipeline_Flow",
							"Shipping_Details",
							"Storage_Terminals"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Midstream_Logistics.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]",
				"[concat(variables('factoryId'), '/datasets/ds_filesystem_Global_Midstream_Logistics')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landingzone')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_petrolake_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_reporting_midstream')]",
				"[concat(variables('factoryId'), '/datasets/ds_midstream_azuretable')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_global_midstream')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filesystem_Global_Upstream_Operations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Load every Month once",
				"activities": [
					{
						"name": "Get_Excel_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CP_Global_Upstream_Operations",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_Global_Upstream_Operations",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Drilling_Operations",
							"Equipment_Monitoring",
							"Well_Production"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Upstream_Operations.xlsx"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]",
				"[concat(variables('factoryId'), '/datasets/ds_filesystem_Global_Upstream_Operations')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_finance_Global_Downstream')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Begin_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Global_Downstream_Finance_Safety",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_filesystem_dailyload_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": "@string(item())"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landingzone",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')\n",
													"type": "Expression"
												},
												"MainFolder": {
													"value": "@replace(pipeline().parameters.ExcelFileName,'.xlsx','')\n",
													"type": "Expression"
												},
												"SubFolder": {
													"value": "@string(item())\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Global_Downstream_Finance_Safety",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Landingzone_Discoverzone/Filesystem/Global_Downstream_landing_discovey"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTERAM_LANDING_DISCOVERY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/kgnnet11@gmail.com/Discoveryzone_ReportingZone/Filesystem_Reporting_data/Global_Downstream_discovey_reporting"
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_petrolake_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadAzuretableStorahe",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AzureTable'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reportingzone_AzureTable",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureTableSink",
														"azureTableInsertType": "replace",
														"azureTableDefaultPartitionKeyValue": {
															"value": "@utcNow()",
															"type": "Expression"
														},
														"writeBatchSize": 10000
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "spend_vs_revenue_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "PartitionKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "incident_cost_impact_pct",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "RowKey",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int64"
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Double"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Int32"
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuretable_storage",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reportingzone_AzureTable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "'  '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reportingzone_AzureTable').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "LoadSQLServer",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "NB_GLOBAL_DOWNSTREAM_DISCOVEY_REPORTING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n   equals(pipeline().parameters.TargetSystem, 'AZURESQL'),\n   equals(pipeline().parameters.TargetSystem, 'Both')\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CP_reporting_SQLserver",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "Global_Downstream/final_operational_kpi_parquet",
																"type": "Expression"
															},
															"wildcardFileName": "*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "region",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "UTF8"
																},
																"sink": {
																	"name": "country",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "total_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "profit_margin",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "profit_margin",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 5
																}
															},
															{
																"source": {
																	"name": "gross_profit",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "gross_profit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "incident_count",
																	"type": "Int64",
																	"physicalType": "INT_64"
																},
																"sink": {
																	"name": "incident_count",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "total_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_barrels",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_barrels",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_spend",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_spend",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cumulative_revenue",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_revenue",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cost_per_barrel",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cost_per_barrel",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_downtime_hours",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "total_downtime_hours",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "cumulative_incident_cost",
																	"type": "Double",
																	"physicalType": "DOUBLE"
																},
																"sink": {
																	"name": "cumulative_incident_cost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "month",
																	"type": "Int32",
																	"physicalType": "INT_32"
																},
																"sink": {
																	"name": "month",
																	"type": "Byte",
																	"physicalType": "tinyint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_reportingzone_goldlayer",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_azuresql_Global_Downstream",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "sucess_data_azuresql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CP_reporting_SQLserver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_sucess_failure_logs]",
													"storedProcedureParameters": {
														"ActivityName": {
															"value": {
																"value": "CP_reportingzone_AzureTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataReadBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"DataWrittenBytes": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"EndTime": {
															"value": {
																"value": "@utcNow()\n",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ErrorMessage": {
															"value": {
																"value": "' '",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionStatus": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').Status",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsWritten": {
															"value": {
																"value": "@activity('CP_reporting_SQLserver').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"SinkType": {
															"value": {
																"value": "AzureSQL",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceType": {
															"value": {
																"value": "AdlsReportingZone",
																"type": "Expression"
															},
															"type": "String"
														},
														"StartTime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_onprem_petrolake",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Begin_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertPipelineRunLog_details]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "''\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId\n",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()\n",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_onprem_petrolake",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "getnotofication",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "get_sheets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "application/json",
									"type": "Expression"
								}
							},
							"url": {
								"value": "https://prod-17.northcentralus.logic.azure.com:443/workflows/182127ba0e64438b949ba76c27f89358/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=T_OUwJsCK6YFXV16RbRjmyZ-OFcrpOW5eGB6upnMJFo",
								"type": "Expression"
							},
							"body": {
								"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"triggerName\": \"@{pipeline().TriggerName}\",\n  \"triggerTime\": \"@{pipeline().TriggerTime}\",\n  \"activityName\": \"Copy_Product_Data\",\n  \"status\": \"Failed\",\n  \n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							"Refinery_Production",
							"Financial_Transactions",
							"Safety_Incidents"
						]
					},
					"ExcelFileName": {
						"type": "string",
						"defaultValue": "Global_Downstream_Finance_Safety.xlsx"
					},
					"TargetSystem": {
						"type": "string",
						"defaultValue": "Both"
					}
				},
				"folder": {
					"name": "Filesystem"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]",
				"[concat(variables('factoryId'), '/datasets/ds_filesystem_dailyload_adls_landingzone')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landingzone')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_petrolake_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_reportingzone_goldlayer')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuretable_storage')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_Global_Downstream')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Reporting_SQL_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Gold_downstream_KPI"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_landingzone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"MainFolder": {
						"type": "string"
					},
					"SubFolder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().MainFolder,'/',dataset().SubFolder)",
							"type": "Expression"
						},
						"fileSystem": "landingzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_alds_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_Global_Downstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_petrolake_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "total_barrels",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_revenue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_cost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "profit_margin",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "gross_profit",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_spend",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "incident_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "total_incident_cost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "cumulative_barrels",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "cumulative_spend",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "cumulative_revenue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "cost_per_barrel",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_downtime_hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "cumulative_incident_cost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "month",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "GLOBAL_DOWNSTREAM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_petrolake_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_global_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_petrolake_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "GLOBAL_MIDSTREAM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_petrolake_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuretable_storage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuretable_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "globaldownstream"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuretable_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_Global_Midstream_Logistics')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Midstream_Logistics.xlsx",
						"container": "filesystemdata"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_Global_Upstream_Operations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Upstream_Operations.xlsx",
						"container": "filesystemdata"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_filesystem_dailyload_adls_landingzone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Global_Downstream_Finance_Safety.xlsx",
						"container": "filesystemdata"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_midstream_azuretable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuretable_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "globalmidstreamfs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuretable_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_reporting_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Global_Midstreamy/Gold_KPI",
						"fileSystem": "reportingzone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_alds_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_reportingzone_goldlayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_alds_landingzone",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Global_Downstream/final_operational_kpi",
						"fileSystem": "reportingzone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_alds_landingzone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_midstream')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "global_midstream"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_pipelinelog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_onprem_petrolake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Pipeline_Run_Log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_onprem_petrolake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_alds_landingzone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_alds_landingzone_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_alds_landingzone_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql_petrolake_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azuresql_petrolake_dev_properties_typeProperties_server')]",
					"database": "[parameters('ls_azuresql_petrolake_dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azuresql_petrolake_dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azuresql_petrolake_dev_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuretable_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_azuretable_storage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_filesystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_filesystem_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_petrolake_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405617517637743.3.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_petrolake_dev_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_petrolake_dev_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_onprem_petrolake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_onprem_petrolake_connectionString')]",
					"userName": "[parameters('ls_sql_onprem_petrolake_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_onprem_petrolake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosterIRLoacal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosterIRLoacal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosterIRLoacal')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}